<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perceptron</title>
</head>
<body>
</body>
</html>




<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Perceptron</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" href="../static/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="../static/assests/favicon.ico">

</head>
<body>

    <div class="container" id="myIdentifier">

        <div class="row">
            <div class="col-md-12">
                <div class="h3" style="height:100px;">

                    {{ name }}
                    <br />run me <br/>docker-compose -f docker-compose.yaml up -d
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>

</body>
</html>



